{% extends 'main.html' %}

{% block content %}
<h1>Home template</h1>

<a href="{% url 'create-room' %}">Criar sala</a>

<div>
  {% for room in rooms %}
  <div style="border: solid 1px black; margin: 8px 0;">
    <a href="{% url 'update-room' room.id %}">Editar</a>
    <a href="{% url 'delete-room' room.id %}">Apagar</a>
    <br>
    <span>@{{ room.host.username }}</span>
    <br>
    <a href="{% url 'room' pk=room.id %}">{{ room.id }}</a> - {{ room.name }}
    <br>
    <small>{{room.topic.name}}</small>
  </div>
  {% endfor %}
</div>
{% endblock %}
